#barra-navegacion {

    text-align: center;
    justify-content: center; 
    width: 100%;

    }

    .nav-item{
        
        -webkit-animation:roll-in-left .6s ease-out both;
        animation:roll-in-left .6s ease-out both;

}

            
            



    @for $item from 1 through 6{
        .nav-item#{$item} {
            animation-delay: $item*0.25s;
 
            }
        }
    



@-webkit-keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-left{0%{-webkit-transform:translateX(-800px) rotate(-540deg);transform:translateX(-800px) rotate(-540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}