.fondo--body {

    background-color: #1a1d20;
    #imagenhome {
        border-radius: 3rem;
        max-width: 100%;
        height: 70vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        background-color: rgb(43,48,53);
        
    }
   
  }

