
@media screen and (max-width: 1500px) {
        .footerlinea1{
        margin: 2rem;
        padding: 0.5 rem;
            display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        border-style: double;
        background-color: $secondarybackground;
          border-radius: 3rem;
          width: 90vw;
          text-align: center;
          justify-content: center; 
             .logofooter{
            display: none;
        }
        }

              #imagenhome {
            width: 75vw;
            height: 50vh;
        }

        .piedepagina{

            width: 95vw;
        }  

        /* RESPONSIVE EMPRESA  */
.empresa--contenido{
display: grid;
grid-template-columns: 1fr;
}

/* RESPONSIVE PRODUCTOS  */

.productos {
    display: block;
   
    margin: 2rem;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    text-align: center;

    .productos--foto{
    border-radius: 3rem;
    width: 50vw ;
    height: 50vh;
    margin: 1rem;
    padding: 2rem;
    gap: 0.5rem;
    background-color:$secondarybackground ;
}
}

/* RESPONSIVE SERVICIOS */

.servicios--cuerpo{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    margin: 2rem;
    padding: 2rem;
    gap: 2rem;

  

}

/* RESPONSIVE CONTACTO  */
.contacto--cuerpo {
    margin: 2rem;
    padding: 1 rem;
    text-align: center;
    justify-content: center; 
   
    display: inline; 
    width: 90vw;
     

  }
}


@media screen and (max-width: 550px) {
    /* RESPONSIVE MAIN  */
    .footerlinea1{
        margin: 2rem;
        padding: 0.5 rem;
            display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        border-style: double;
        background-color: $secondarybackground;
          border-radius: 3rem;
          width: 85vw;

          .logofooter{
            display: none;
        }
          
        }
        .piedepagina {
            display: block;
            text-align: center;
            justify-content: center; 
            width: 90vw;
            overflow: hidden;
        }

        /* RESPONSIVE SERVICIOS  */
        .servicios--cuerpo{
            display: grid;
            grid-template-columns: 1fr   ;
            margin: 2rem;
            padding: 2rem;
            gap: 2rem;
        
          
        
        }

    }