.servicios--titulo {
   @extend .empresa--titulo
        
}

.servicios--cuerpo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    margin: 2rem;
    padding: 2rem;
    gap: 2rem;
  
  
.servicios--grilla{
    text-align: center;
    justify-content: center; 
    background-color:$secondarybackground ;
    border-radius: 3rem;
    padding: 1rem;
    margin: 1rem;
  
   

    :hover{
  
        color:$hovercolor;
     

        
}
}
}